/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    margin-top: 20px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    background-color: #4CAF50;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main_contents {
    margin-left: 250px;
    padding: 0px 10px;
}

#sub_content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.btn-basic {
    background-color: #4CAF50;
    color: white;
}

.btn-basic:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #008CBA;
    color: white;
}

.btn-secondary:hover {
    background-color: #0073a8;
}

.modal-content {
    background-color: #f2f2f2;
}

.modal-header {
    background-color: #4CAF50;
    color: white;
}

.modal-footer {
    background-color: #f2f2f2;
}
